@font-face {
  font-family: "Atarian";
  src: url("./static/fonts/atarian.ttf");
}

@font-face {
  font-family: "Pixel";
  src: url("./static/fonts/pixel.ttf");
}

body {
  margin: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
